﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh

<div class="layout-window">
    <div class="layout-header">
        <div class="d-flex w-100">
            <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{_animTimer-=32;aTimer.Interval=_animTimer>0?_animTimer:16;}"><img class="playback-icon" src="../images/icons/backward.svg" /></button>
            <button type="button" class="btn btn-outline-header-menu @(!_isPlaying?"active":"")" @onclick="()=>{aTimer.Stop();_isPlaying=false;}"><img class="playback-icon" src="../images/icons/circle-pause.svg" /></button>
            <button type="button" class="btn btn-outline-header-menu @(_isPlaying?"active":"")" @onclick="()=>{aTimer.Start();_isPlaying=true;}"><img class="playback-icon" src="../images/icons/circle-play.svg" /></button>
            <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{_animTimer+=32;aTimer.Interval=_animTimer>0?_animTimer:16;}"><img class="playback-icon" src="../images/icons/forward.svg" /></button>
            <button type="button" class="btn btn-outline-header-menu @(_isOnionActive?"active":"")" @onclick="()=>{_isOnionActive=!_isOnionActive;}"><img class=" playback-icon" src="../images/icons/onion.svg" /></button>
            <span class="ml-auto">@_animTimer ms</span>
        </div>
    </div>
    <div class="animation-overflow">
        <div class="animation-view">
            <div class="animation-animation">
                @if (LayerContext != null && AnimContext != null && AnimContext.ImageListPath.Count > 0)
                {
                    @if (_isOnionActive)
                    {
                        for (int i = SD.OnionNumber; i > 0; i--)
                        {
                            if (_spriteIndex >= i)
                            {
                                <img src="@AnimContext.ImageListPath[_spriteIndex-i]"
                                     style="opacity:@(SD.OnionOpacity / (i*2));
                                filter: invert(17%) sepia(64%) saturate(3382%) hue-rotate(346deg) brightness(93%) contrast(96%);" />
                            }
                        }
                        for (int i = SD.OnionNumber; i > 0; i--)
                        {
                            if (_spriteIndex + i < _spriteCount)
                            {
                                <img src="@AnimContext.ImageListPath[_spriteIndex+i]"
                                     style="opacity:@(SD.OnionOpacity / (i*2));
                                filter:invert(48%) sepia(43%) saturate(1459%) hue-rotate(80deg) brightness(94%) contrast(85%);" />
                            }
                        }
                    }
                    <img src="@(AnimContext?.ImageListPath[_spriteIndex])" />
                }
                else
                {
                    <img src="../images/fdc_logo1024.png" />
                }
            </div>
        </div>
    </div>
</div>

@code {
    private int _animTimer { get; set; } = 500;
    private int _spriteCount { get; set; } = 0;
    private int _spriteIndex { get; set; } = 0;
    private bool _isPlaying { get; set; } = true;
    private bool _isOnionActive { get; set; } = false;
    private static System.Timers.Timer? aTimer;
    public Project? Project { get; set; }
    public Layer? LayerContext { get; set; }
    public Animation? AnimContext { get; set; }
    public void OnTimedEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        _spriteIndex++;
        if (_spriteIndex >= _spriteCount)
        {
            _spriteIndex = 0;
        }
        this.InvokeAsync(() => this.StateHasChanged());
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        Project = Fdc.GetProject();
        LayerContext = Fdc.GetLayerContext();
        AnimContext = Fdc.GetAnimationContext();
        _spriteCount = (AnimContext?.ImageListPath.Count()) ?? 0;
        _spriteIndex = _spriteIndex >= _spriteCount ? 0 : _spriteIndex;
        _animTimer = Convert.ToInt32(Fdc.GetPreferences().First(p => p.Name == "Animation Speed").Value);
        //aTimer.Interval = _animTimer;
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        Project = Fdc.GetProject();
        LayerContext = Fdc.GetLayerContext();
        AnimContext = Fdc.GetAnimationContext();
        _animTimer = Convert.ToInt32(Fdc.GetPreferences().First(p => p.Name == "Animation Speed").Value);
        Refresh.RefreshRequested += RefreshMe;

        aTimer = new System.Timers.Timer();
        aTimer.Interval = _animTimer;
        aTimer.Elapsed += OnTimedEvent;
        aTimer.AutoReset = true;
        aTimer.Enabled = true;
    }
}
