﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime Js

@if (Property != null)
{
    <div class="form-group">
        @{
            //This is a unique identifier for each form group of properties to allow radios to work in each tab layouts
            var layoutGuid = Guid.NewGuid().ToString();
        }
        <div class="property-title" for="@Property.Id" @onclick="()=>TogglePropertyVisibility()">
            <button  class="toggle-property">
                <img class="context-icon" src="@(!ToggleOn?"../images/icons/caret-right.svg":"../images/icons/caret-down.svg")" />
            </button>
            @Property.Name @(Property.PropertyType==SD.HitBox?$": {Property.Value}":"")
            <span class="float-end"><button type="button" class="btn btn-outline-header-menu" @onclick:stopPropagation="true" @onclick="ApplyToSiblings">Apply to Siblings</button></span>
        </div>
        @if (ToggleOn)
        {
            switch (Property.PropertyType)
            {
                case SD.Animation:
                    var animProperty = Property as FrameDataCreator.Models.Attributes.Animation;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Image Template</span>
                            <span class="value-title ">Folder Location</span>
                            @if ("" != (String)animProperty.Value)
                            {
                                <span class="value-title ">Create?</span>
                            }
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <span>@(Fdc.GetTemplates().First(n=>n.Id==animProperty.ImageTemplateToCreate).Name??"")</span>
                            </div>
                            <div class="d-flex">
                                <div class="fileinputs">
                                    <input type="file" webkitdirectory directory class="form-control file" id="@(Property.Id)animationFolder" @onchange="()=>AnimationPathChange(Property.Id)" />
                                    <div class="fakefilepath">
                                        <span>@animProperty.Value</span>
                                    </div>
                                    <div class="fakefile">
                                        <img src="../images/icons/folder-open.svg" class="context-icon" />
                                    </div>
                                </div>
                            </div>
                            @if ("" != (String)animProperty.Value)
                            {
                                <div class="d-flex">
                                    <button type="button" class="btn btn-secondary btn-confirm" @onclick="()=>{CreateImagesFromFolder();}">Confirm</button>
                                </div>
                            }
                        </div>
                    </div>
                    break;
                case SD.Text:
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Value</span>
                        </div>
                        <div class="value-block-right">
                            <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_textInputValue">
                        </div>
                    </div>
                    break;
                case SD.Real:
                    var realProperty = Property as Real;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Value</span>
                        </div>
                        <div class="value-block-right">
                            <button @onclick="()=>_realInputValue=_realInputValue-realProperty.Increment"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                            <input type="number" min="@realProperty.Min" max="@realProperty.Max" step="@realProperty.Increment" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_realInputValue">
                            <button @onclick="()=>_realInputValue=_realInputValue+realProperty.Increment"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                        </div>
                    </div>
                    break;
                case SD.RadioChoice:
                    var radioProperty = Property as RadioChoice;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Value</span>
                        </div>
                        <div class="value-block-right">
                            <fieldset class="form-group">
                                @foreach (var item in radioProperty.Choices)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input"
                           checked="@((String)radioProperty.Value==item.NameValuePair.Value?"checked":false)"
                           @onchange="@(()=>{radioProperty.Value=item.NameValuePair.Value;CallRefresh(); })"
                           type="radio" name="@(layoutGuid+Property.Id)radio" id="@Property.Id" value="@item.NameValuePair.Value">
                                        <label class="form-check-label">
                                            @item.NameValuePair.Key
                                        </label>
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>
                    break;
                case SD.Origin:
                    var originProperty = Property as Origin;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">X</span>
                            <span class="value-title ">Y</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <button @onclick="()=>_originInputValueX-=1"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="@_originInputValueX" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_originInputValueX">
                                <button @onclick="()=>_originInputValueX+=1"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <button @onclick="()=>_originInputValueY-=1"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="@_originInputValueY" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_originInputValueY">
                                <button @onclick="()=>_originInputValueY+=1"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                        </div>
                    </div>
                    break;
                case SD.ListFromGroup:
                    var listFromGroupProperty = Property as ListFromGroup;
                    var listFromLayers = Fdc.GetListFromLayer(listFromGroupProperty.LayerGameId);
                    <div class="value-block">
                        <div class="value-block-left">
                            @{
                                var valueTitle = listFromLayers.Count > 0 ? "List from layer" : "GAMEID NOT FOUND";
                            }
                            <span class="value-title">@valueTitle</span>
                        </div>
                        <div class="value-block-right">
                            @if (listFromLayers.Count > 0)
                            {
                                <select @bind="_listFromLayerValue" class="form-select" placeholder="Pick One" id="@Property.Id">
                                    <option value="" selected="@(""==(String)listFromGroupProperty.Value?"selected":false)">None</option>
                                    @foreach (var item in listFromLayers)
                                    {
                                        <option value="@item.Key" selected="@(item.Key==(String)listFromGroupProperty.Value?"selected":false)"> @item.Value </option>
                                    }
                                </select>
                            }
                        </div>
                    </div>
                    break;
                case SD.ListChoice:
                    var listProperty = Property as ListChoice;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Value</span>
                        </div>
                        <div class="value-block-right">
                            <select @bind="_listChoiceValue" class="form-select" placeholder="Pick One" id="@Property.Id">
                                <option value="" selected="@(""==(String)listProperty.Value?"selected":false)">None</option>
                                @foreach (var item in listProperty.Choices)
                                {
                                    <option value="@item.NameValuePair.Key" selected="@(item.NameValuePair.Key==(String)listProperty.Value?"selected":false)"> @item.NameValuePair.Value </option>
                                }
                            </select>
                        </div>
                    </div>
                    break;
                case SD.Integer:
                    var intProperty = Property as Integer;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Value</span>
                        </div>
                        <div class="value-block-right">
                            <button @onclick="()=>_intInputValue=_intInputValue-Convert.ToInt32(intProperty.Increment)"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                            <input type="number" min="@intProperty.Min" max="@intProperty.Max" step="@Convert.ToInt32(intProperty.Increment)" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_intInputValue">
                            <button @onclick="()=>_intInputValue=_intInputValue+Convert.ToInt32(intProperty.Increment)"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                        </div>
                    </div>
                    break;
                case SD.HitBox:
                    var hitBoxProperty = Property as HitBox;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">X</span>
                            <span class="value-title ">Y</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Position.X-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyPositionX">
                                <button @onclick="()=>{hitBoxProperty.Position.X+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Position.Y-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyPositionY">
                                <button @onclick="()=>{hitBoxProperty.Position.Y+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                        </div>
                    </div>
                    <span>&nbsp;</span>
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Width</span>
                            <span class="value-title ">Height</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Width-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyWidth">
                                <button @onclick="()=>{hitBoxProperty.Width+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Height-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyHeight">
                                <button @onclick="()=>{hitBoxProperty.Height+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                        </div>
                    </div>
                    <span>&nbsp;</span>
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">R</span>
                            <span class="value-title ">G</span>
                            <span class="value-title ">B</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Color.Red-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" max="255" step="10" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxColorRed">
                                <button @onclick="()=>{hitBoxProperty.Color.Red+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Color.Green-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" max="255" step="10" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxColorGreen">
                                <button @onclick="()=>{hitBoxProperty.Color.Green+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <button @onclick="()=>{hitBoxProperty.Color.Blue-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" max="255" step="10" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxColorBlue">
                                <button @onclick="()=>{hitBoxProperty.Color.Blue+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                        </div>
                    </div>
                    break;
                case SD.FrameImage:
                    var frameProperty = Property as FrameImage;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Frame Index</span>
                            <span class="value-title ">Duration</span>
                            <span class="value-title ">Image Path</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <button @onclick="()=>{frameProperty.Index-=1; CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" step="1" class="form-control" placeholder="1" id="@Property.Id" @bind="_frameIndexValue">
                                <button @onclick="()=>{frameProperty.Index+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <button @onclick="()=>{frameProperty.Duration-=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-left.svg" /></button>
                                <input type="number" min="0" step="1" class="form-control" placeholder="1" id="@Property.Id" @bind="_frameDurationValue">
                                <button @onclick="()=>{frameProperty.Duration+=1;CallRefresh();}"><img class="context-icon" src="../images/icons/caret-right.svg" /></button>
                            </div>
                            <div class="d-flex">
                                <div class="fileinputs">
                                    <input type="file" accept="image/*" class="form-control file" id="@(Property.Id)imageFile" @onchange="()=>ImagePathChange(Property.Id)" />
                                    <div class="fakefilepath">
                                        <span>@frameProperty.ImagePath</span>
                                    </div>
                                    <div class="fakefile">
                                        <img src="../images/icons/folder-open.svg" class="context-icon" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    break;
                case SD.BoolCheck:
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">@Property.Name?</span>
                        </div>
                        <div class="value-block-right">
                            <input type="checkbox" class="form-check-input" placeholder="true" id="@Property.Id" @bind="_checkInputValue">
                        </div>
                    </div>
                    break;
            }
        }
    </div>
}
@code {
    [Parameter]
    public IAttribute? Property { get; set; }

    [Parameter]
    public EventCallback<IAttribute> OnApplyToSiblings { get; set; }

    public bool ToggleOn { get; set; } = false;
    #region private fields
    private string _listFromLayerValue
    {
        get => (Property as ListFromGroup).Value as String;
        set
        {
            (Property as ListFromGroup).Value = value ?? "" as object;
            CallRefresh();
        }
    }
    private string _listChoiceValue
    {
        get => (Property as ListChoice).Value as String;
        set
        {
            (Property as ListChoice).Value = value as object;
            CallRefresh();
        }
    }
    private Position _hitboxPositionValue
    {
        get => (Property as HitBox).Position;
        set
        {
            (Property as HitBox).Position = value;
            CallRefresh();
        }
    }
    private int _hitBoxColorRed
    {
        get => (Property as HitBox).Color.Red;
        set
        {
            (Property as HitBox).Color.Red = value;
            CallRefresh();
        }
    }
    private int _hitBoxColorGreen
    {
        get => (Property as HitBox).Color.Green;
        set
        {
            (Property as HitBox).Color.Green = value;
            CallRefresh();
        }
    }
    private int _hitBoxColorBlue
    {
        get => (Property as HitBox).Color.Blue;
        set
        {
            (Property as HitBox).Color.Blue = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyHeight
    {
        get => (Property as HitBox).Height;
        set
        {
            (Property as HitBox).Height = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyWidth
    {
        get => (Property as HitBox).Width;
        set
        {
            (Property as HitBox).Width = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyPositionX
    {
        get => (Property as HitBox).Position.X;
        set
        {
            (Property as HitBox).Position.X = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyPositionY
    {
        get => (Property as HitBox).Position.Y;
        set
        {
            (Property as HitBox).Position.Y = value;
            CallRefresh();
        }
    }
    private int _frameIndexValue
    {
        get => (Property as FrameImage).Index;
        set
        {
            (Property as FrameImage).Index = value;
            CallRefresh();
        }
    }
    private int _frameDurationValue
    {
        get => (Property as FrameImage).Duration;
        set
        {
            (Property as FrameImage).Duration = value;
            CallRefresh();
        }
    }
    private int _originInputValueX
    {
        get => ((Property as Origin).Value as Position).X;
        set
        {
            ((Property as Origin).Value as Position).X = value;
            CallRefresh();
        }
    }
    private int _originInputValueY
    {
        get => ((Property as Origin).Value as Position).Y;
        set
        {
            ((Property as Origin).Value as Position).Y = value;
            CallRefresh();
        }
    }
    private bool _checkInputValue
    {
        get => (Boolean)Property.Value;
        set
        {
            Property.Value = value;
            CallRefresh();
        }
    }
    private string _textInputValue
    {
        get => (String)Property.Value;
        set
        {
            Property.Value = value;
            CallRefresh();
        }
    }
    private decimal _realInputValue
    {
        get => (Decimal)Property.Value;
        set
        {
            Property.Value = value;
            CallRefresh();
        }
    }
    private int _intInputValue
    {
        get => (Int32)Property.Value;
        set
        {
            Property.Value = value;
            CallRefresh();
        }
    }
    #endregion
    private void ApplyToSiblings()
    {
        OnApplyToSiblings.InvokeAsync(Property);
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    public async void CreateImagesFromFolder()
    {
        Fdc.CreateImagesFromFolder(Property as Animation);
        CallRefresh();
    }
    public void TogglePropertyVisibility()
    {
        ToggleOn = !ToggleOn;
    }
    public async Task AnimationPathChange(string domId)
    {
        string value = await Js.InvokeAsync<string>("updateAnimationPath", domId);
        FolderAnimationPathChange(value);
    }
    public async Task ImagePathChange(string domId)
    {
        string value = await Js.InvokeAsync<string>("updateImagePath", domId);
        FrameImagePathChange(value);
    }

    public void FolderAnimationPathChange(string value)
    {
        Property.Value = value;
        CallRefresh();
    }
    public void FrameImagePathChange(string value)
    {
        var prop = Property as FrameImage;
        prop.ImagePath = value;
        //StateHasChanged();
        CallRefresh();
    }
}
