﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime

<div class="layout-window">
    <div class="layout-header">
        New HitBox: &nbsp;
        @if (NewHitBoxButtons != null && LayerContext != null && ImageContext != null)
        {
            foreach (var template in NewHitBoxButtons)
            {
                if (template != null)
                {
                    <button type="button" class="btn btn-outline-header-menu" @onclick="()=>{OnCreateHitBox(template);}">@template.Name</button>
                }
            }

            <span>X:</span>
            <input type="text" style="width:64px;" class="form-control" placeholder="0" @bind="_newHitBoxX">
            <span>Y:</span>
            <input type="text" style="width:64px;" class="form-control" placeholder="0" @bind="_newHitBoxY">
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{OnCopyAllBoxes();}">Copy All</button>
                <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{OnPasteAllBoxes();}">Paste All</button>
                <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{OnPasteAllBoxes(true);}">Paste All:Siblings</button>
                <button type="button" class="btn btn-outline-header-menu @(_isOnionActive?"active":"")" @onclick="()=>{_isOnionActive=!_isOnionActive;}"><img class=" playback-icon" src="../images/icons/onion.svg" /></button>
                <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{OnCloneLastFrameBoxes();}">Clone Last Frame</button>
                <button type="button" class="btn btn-outline-header-menu " @onclick="()=>{OnDeleteHitBox();}">Delete Box</button>
            </div>
        }
    </div>
    <div class="image-overflow">
        <div class="image-view">
            <div class="image-image" id="image-overflow-dom">
                @if (LayerContext != null && ImageContext != null)
                {
                    //origin offset
                    var originXoffset = (LayerContext.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.X;
                    var originYoffset = (LayerContext.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.Y;
                    //animation origin
                    var originX = (LayerContext.Parent?.Parent?.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.X ?? 0;
                    var originY = (LayerContext.Parent?.Parent?.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.Y ?? 0;

                    @if (_isOnionActive && AnimContext != null)
                    {
                        for (int i = SD.OnionNumber; i > 0; i--)
                        {
                            if (ImageContext.Index >= i)
                            {
                                <img src="@AnimContext.ImageListPath[ImageContext.Index-i]"
                                     style="opacity:@(SD.OnionOpacity / (i*2));
                                filter: invert(17%) sepia(64%) saturate(3382%) hue-rotate(346deg) brightness(93%) contrast(96%);" />
                            }
                        }
                        for (int i = SD.OnionNumber; i > 0; i--)
                        {
                            if (ImageContext.Index + i < _spriteCount)
                            {
                                <img src="@AnimContext.ImageListPath[ImageContext.Index+i]"
                                     style="opacity:@(SD.OnionOpacity / (i*2));
                                filter:invert(48%) sepia(43%) saturate(1459%) hue-rotate(80deg) brightness(94%) contrast(85%);" />
                            }
                        }
                    }
                    <img src="@ImageContext.ImagePath" @onkeydown="(e)=>{KeyPressImageView(e);}" tabindex="0" />
                    <img class="cross-origin" style="position:absolute; width:16px; height:16px; left:@(originX+originXoffset-8+_widthOffset)px;top:@(originY+originYoffset-8+_heightOffset)px;" src="../images/icons/plus.svg" />
                    
                     var boxList = LayerContext.Attributes.Where(a => a.PropertyType == SD.HitBox);
                    
                    @foreach (HitBox hitbox in boxList)
                    {
                        <div tabindex="0" id="@hitbox.Id" class="hitbox" @onkeydown="(e)=>{KeyPress(e);}" @onclick="()=>{OnSelectHitBox(hitbox);}"
                             style="position:absolute; top:@(_heightOffset+hitbox.Position.Y)px; left:@(_widthOffset+hitbox.Position.X)px;
                        background-color:rgba(@(hitbox.Color.Red),@(hitbox.Color.Green),@(hitbox.Color.Blue), @((HitBoxContext != null && HitBoxContext.Id == hitbox.Id) ? 0.4 : 0.1));
                        z-index:@((HitBoxContext!=null && HitBoxContext.Id==hitbox.Id)?50:1);
                        width:@(hitbox.Width)px; height:@(hitbox.Height)px;
                        border:solid 1px rgb(@(hitbox.Color.Red),@(hitbox.Color.Green),@(hitbox.Color.Blue));
                        box-shadow:0px 0px 4px 1px rgba(@(hitbox.Color.Red),@(hitbox.Color.Green),@(hitbox.Color.Blue),0.25); ">
                            <div id="inside" style="position:relative; width:100%; height:100%;">
                                <span class="hitbox-draggable"></span>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <img src="../images/fdc_logo1024.png" />
                }
            </div>
        </div>
    </div>

</div>
@code {
    private bool _orderHitboxReverse = false;
    private int _newHitBoxX = 0;
    private int _newHitBoxY = 0;
    private int _widthOffset = 960;
    private int _heightOffset = 540;
    private bool _isOnionActive { get; set; } = false;
    private int _spriteCount { get; set; } = 0;
    private DotNetObjectReference<ImageView>? objRef;
    public Project? Project { get; set; }
    public Layer? LayerContext { get; set; }
    public FrameImage? ImageContext { get; set; }
    public Animation? AnimContext { get; set; }
    public HitBox? HitBoxContext { get; set; }
    public List<Template?>? NewHitBoxButtons { get; set; }
    public void KeyPressImageView(KeyboardEventArgs e)
    {
        if (ImageContext != null && LayerContext != null)
        {
            switch (e.Key)
            {
                case "d":
                    OnCloneLastFrameBoxes();
                    break;
            }
        }
    }
    public void KeyPress(KeyboardEventArgs e)
    {
        if (HitBoxContext != null && ImageContext != null && LayerContext != null)
        {
            switch (e.Key)
            {
                case "Delete":
                    OnDeleteHitBox();
                    break;
                case "c":
                    OnCopyHitbox();
                    break;
                case "d":
                    OnCloneLastFrameBoxes();
                    break;
                case "b":
                    ReOrderFrame(true);
                    break;
                case "f":
                    ReOrderFrame(false);
                    break;
            }
        }
    }
    public void ReOrderFrame(bool sendToBack = false)
    {
        Fdc.ChangeOrderOfFrame(HitBoxContext, sendToBack);
        CallRefresh();
    }
    [JSInvokable]
    public void OnUpdateCoordinate(string id, int width, int height, int x, int y)
    {
        if (HitBoxContext.Id == id)
        {
            HitBoxContext.Width = width;
            HitBoxContext.Height = height;
            HitBoxContext.Position.X = x;
            HitBoxContext.Position.Y = y;
            CallRefresh();
        }
    }
    public void OnCopyAllBoxes()
    {
        if (ImageContext != null && LayerContext != null)
        {
            Fdc.CopyCurrentBoxes();
            CallRefresh();
        }
    }
    public void OnPasteAllBoxes(bool allSiblings=false)
    {
        if (ImageContext != null && LayerContext != null)
        {
            Fdc.PasteSavedBoxes(allSiblings);
            CallRefresh();
        }
    }
    public void OnCloneLastFrameBoxes()
    {
        if (ImageContext != null && LayerContext != null)
        {
            if (Fdc.ClonePreviousFrameHitBoxes())
            {
                CallRefresh();
            }
        }
    }
    public void OnDeleteHitBox()
    {
        if (HitBoxContext != null && ImageContext != null && LayerContext != null)
        {
            LayerContext.Attributes.RemoveAll(a => a.Id == HitBoxContext.Id);
            CallRefresh();
        }
    }
    public void OnSelectHitBox(HitBox hitBox)
    {
        HitBoxContext = hitBox;
    }
    public void OnCopyHitbox()
    {
        HitBoxContext = Fdc.CopyHitBox(HitBoxContext);
        CallRefresh();
    }
    public void OnCreateHitBox(Template template)
    {
        //origin offset
        var originXoffset = (LayerContext?.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.X ?? 0;
        var originYoffset = (LayerContext?.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.Y ?? 0;
        //animation origin
        var originX = (LayerContext.Parent?.Parent?.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.X ?? 0;
        var originY = (LayerContext.Parent?.Parent?.FindAttribute<Origin>(SD.Origin)?.Value as Position)?.Y ?? 0;
        HitBoxContext = Fdc.CreateHitBox(template, new Position(originXoffset + originX + _newHitBoxX - 16, originYoffset + originY + _newHitBoxY - 16));
        CallRefresh();
    }
    public void Dispose()
    {
        objRef?.Dispose();
    }
    protected override async Task OnInitializedAsync()
    {
        Setup();
        Refresh.RefreshRequested += RefreshMe;
        objRef = DotNetObjectReference.Create(this);
    }
    private void Setup()
    {
        Project = Fdc.GetProject();
        LayerContext = Fdc.GetLayerContext();
        ImageContext = Fdc.GetImageContext();
        NewHitBoxButtons = Fdc.GetTemplates(SD.HitBox)
        .GroupBy(x => (Int32)(x.Attributes.First(a => a.PropertyType == SD.HitBox).Value))
        .Select(x => x.FirstOrDefault()).ToList();

        AnimContext = Fdc.GetAnimationContext();
        _spriteCount = (AnimContext?.ImageListPath.Count()) ?? 0;
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        Setup();
        StateHasChanged();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (HitBoxContext != null)
        {
            JsRuntime.InvokeVoidAsync("setDragAndResize", HitBoxContext.Id, objRef);
        }

    }
}
