﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
        <div class="nav-container">            
            <div class="status-bar navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @Information
            </div>
        </div>
    </nav>
</header>
@code {
    public string Information = "";
    protected override async Task OnInitializedAsync()
    {
        Information = Fdc.InformationMessage;
        Refresh.RefreshRequested += RefreshMe;
    }
    private void RefreshMe()
    {
        Information = Fdc.InformationMessage;
        StateHasChanged();
    }
}
