﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime Js

@if (Property != null)
{
    <div class="form-group">
        <div class="property-title" for="@Property.Id" style="display:flex;justify-content: space-between;">
            <button @onclick="()=>TogglePropertyVisibility()" class="toggle-property mr-auto ">
                <img class="context-icon" src="@(!ToggleOn?"../images/icons/caret-right.svg":"../images/icons/caret-down.svg")" />
            </button>
            <div style="display:flex;">
                Attr.Name &nbsp;&nbsp;<input type="text" class="form-control" placeholder="Enter name here" id="@(Property.Id)name" @bind="_propertyName">
            </div>
            <button @onclick="()=>DeleteProperty()" class="toggle-property ml-auto">
                <img class="context-icon" src="@("../images/icons/xmark.svg")" />
            </button>
        </div>
        @if (ToggleOn)
        {
            switch (Property.PropertyType)
            {
                case SD.Animation:
                    var animProperty = Property as FrameDataCreator.Models.Attributes.Animation;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Image Template</span>
                            <span class="value-title ">Folder Location:</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                 <select @bind="_animationTemplateId" class="form-select" placeholder="Pick One" id="@Property.Id">
                                    @foreach (var item in Fdc.GetTemplates(SD.FrameImage))
                                    {
                                        <option value="@item.Id" selected="@(item.Id==animProperty?.ImageTemplateToCreate?"selected":false)"> @item.Name </option>
                                    }
                                </select>
                            </div>
                            <div class="d-flex">
                                <span style="white-space:normal;">When creating a new Layer from this template, you will have to pick a folder location to create the image objects/layer from a template.</span>
                            </div>
                        </div>
                    </div>
                    break;
                case SD.Text:
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Default</span>
                        </div>
                        <div class="value-block-right">
                            <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_textInputValue">
                        </div>
                    </div>
                    break;
                case SD.Real:
                    var realProperty = Property as Real;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Default</span>
                            <span class="value-title ">Increment</span>
                            <span class="value-title ">Min</span>
                            <span class="value-title ">Max</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_realInputValue">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_realIncrement">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_realMin">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_realMax">
                            </div>
                        </div>
                    </div>
                    break;
                case SD.RadioChoice:
                    var radioProperty = Property as RadioChoice;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Choices</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex flex-column">
                                @foreach (var item in radioProperty.Choices)
                                {
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @item.NameValuePair.Key
                                        </label>
                                        <label class="form-check-label">
                                            @item.NameValuePair.Value
                                        </label>
                                        <button @onclick="()=>{radioProperty.Choices.Remove(item);CallRefresh();}" class="toggle-property ml-auto">
                                            <img class="context-icon delete-choice" src="@("../images/icons/xmark.svg")" />
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex-column m-1">
                        <div class="mt-4 d-flex justify-content-evenly flex-wrap">
                            <label class="form-label">
                                Key
                                <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_newChoiceKey">
                            </label>
                            <label class="form-label">
                                Value
                                <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_newChoiceValue">
                            </label>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-outline-header-menu" @onclick="()=> { radioProperty.Choices.Add(new Choice(_newChoiceKey,_newChoiceValue));CallRefresh(); }">
                                <img class="context-icon" src="@("../images/icons/square-plus.svg")" />
                                Add Choice
                            </button>
                        </div>
                    </div>
                    break;
                case SD.Origin:
                    var originProperty = Property as Origin;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Default X</span>
                            <span class="value-title ">Default Y</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" min="@_originInputValueX" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_originInputValueX">
                            </div>
                            <div class="d-flex">
                                <input type="number" min="@_originInputValueY" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_originInputValueY">
                            </div>
                        </div>
                    </div>
                    break;
                case SD.ListFromGroup:
                    var listFromGroupProperty = Property as ListFromGroup;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Layer GameId</span>
                            <span class="value-title ">Level Depth</span>
                            <span class="value-title ">Details:</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_listfromGroupGameId">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1" id="@Property.Id" @bind="_listfromGroupLevel">
                            </div>
                            <div class="d-flex">
                                <span style="white-space:normal;">This attribute will be a list from all instances of layers with this GameId. It will search up the tree up to the level specified (0 means this layer, 1 means parent, etc.). The GameId is a string that means something for you and your game. Basically a manual ID.</span>
                            </div>
                        </div>
                    </div>
                    break;
                case SD.ListChoice:
                    var listProperty = Property as ListChoice;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">List of Choices</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex flex-column">
                                @foreach (var item in listProperty.Choices)
                                {
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            @item.NameValuePair.Key
                                        </label>
                                        <label class="form-check-label">
                                            @item.NameValuePair.Value
                                        </label>
                                        <button @onclick="()=>{listProperty.Choices.Remove(item);CallRefresh();}" class="toggle-property ml-auto">
                                            <img class="context-icon delete-choice" src="@("../images/icons/xmark.svg")" />
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex-column m-1">
                        <div class="mt-4 d-flex justify-content-evenly flex-wrap">
                            <label class="form-label">
                                Key
                                <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_newChoiceKey">
                            </label>
                            <label class="form-label">
                                Value
                                <input type="text" class="form-control" placeholder="Enter text here" id="@Property.Id" @bind="_newChoiceValue">
                            </label>
                            
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-outline-header-menu" @onclick="()=> { listProperty.Choices.Add(new Choice(_newChoiceKey,_newChoiceValue));CallRefresh(); }">
                                <img class="context-icon" src="@("../images/icons/square-plus.svg")" />
                                Add Choice
                            </button>
                        </div>
                    </div>
                    break;
                case SD.Integer:
                    var intProperty = Property as Integer;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Default</span>
                            <span class="value-title ">Increment</span>
                            <span class="value-title ">Min</span>
                            <span class="value-title ">Max</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_intInputValue">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_intIncrement">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_intMin">
                            </div>
                            <div class="d-flex">
                                <input type="number" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_intMax">
                            </div>
                        </div>
                    </div>
                    break;
                case SD.HitBox:
                    var hitBoxProperty = Property as HitBox;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Box Value</span>
                            <span class="value-title ">Note</span>
                            <span class="value-title "> </span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyDefault">
                            </div>
                            <div class="d-flex">
                          <label style="white-space:normal;">
                              The Box Value is a type of hit box (hurt box, hit box, grab box, etc.) It is used to generate quick buttons in the Frame editor to create new boxes. You should have a template HitBox for each type which you want to have a button for.
                          </label> 
                          </div>
                            <div class="d-flex">
                                <label style="white-space:normal;">
                                    HitBox templates will not be selectable, however they will generate an attribute in your FrameImage when created from the editor's appropriate buttons.
                                </label>
                            </div>
                        </div>
                    </div>
                    <span>&nbsp;</span>
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">X Default</span>
                            <span class="value-title ">Y Default</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyPositionX">
                            </div>
                            <div class="d-flex">
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyPositionY">
                            </div>
                        </div>
                    </div>
                    <span>&nbsp;</span>
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Width Default</span>
                            <span class="value-title ">Height Default</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyWidth">
                            </div>
                            <div class="d-flex">
                                <input type="number" min="0" step="1" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxPropertyHeight">
                            </div>
                        </div>
                    </div>
                    <span>&nbsp;</span>
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">R</span>
                            <span class="value-title ">G</span>
                            <span class="value-title ">B</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" min="0" max="255" step="10" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxColorRed">
                             </div>
                            <div class="d-flex">
                                <input type="number" min="0" max="255" step="10" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxColorGreen">
                            </div>
                            <div class="d-flex">
                                <input type="number" min="0" max="255" step="10" class="form-control" placeholder="1.0" id="@Property.Id" @bind="_hitBoxColorBlue">
                            </div>
                        </div>
                    </div>
                    break;
                case SD.FrameImage:
                    var frameProperty = Property as FrameImage;
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Frame Duration Default</span>
                        </div>
                        <div class="value-block-right value-block-right-composite">
                            <div class="d-flex">
                                <input type="number" min="0" step="1" class="form-control" placeholder="1" id="@Property.Id" @bind="_frameDurationValue">
                            </div>
                        </div>
                    </div>
                    break;
                case SD.BoolCheck:
                    <div class="value-block">
                        <div class="value-block-left ">
                            <span class="value-title ">Default Check?</span>
                        </div>
                        <div class="value-block-right">
                            <input type="checkbox" class="form-check-input" placeholder="true" id="@Property.Id" @bind="_checkInputValue">
                        </div>
                    </div>
                    break;
            }
        }
    </div>
}
@code {
    [Parameter]
    public IAttribute? Property { get; set; }
    [Parameter]
    public Template Context { get; set; }

    public bool ToggleOn { get; set; } = true;
    private string _newChoiceKey { get; set; } = "choicekey";
    private string _newChoiceValue { get; set; } = "choiceValue";

    private string _propertyName
    {
        get => Property.Name;
        set
        {
            Property.Name = value;
            Fdc.RenameLayersAttributeFromTemplate(Context);
            CallRefresh();
        }
    }

    private int _listfromGroupLevel
    {
        get => (Property as ListFromGroup).LayerParentLevel ;
        set
        {
            (Property as ListFromGroup).LayerParentLevel = value ;
            CallRefresh();
        }
    }
    private string _listfromGroupGameId
    {
        get => (Property as ListFromGroup).LayerGameId as String;
        set
        {
            (Property as ListFromGroup).LayerGameId = value ?? "GameId";
            CallRefresh();
        }
    }
    private string _animationTemplateId
    {
        get => (Property as FrameDataCreator.Models.Attributes.Animation).ImageTemplateToCreate;
        set
        {
            (Property as FrameDataCreator.Models.Attributes.Animation).ImageTemplateToCreate = value ?? "GameId";
            CallRefresh();
        }
    }
    private string _listFromLayerValue
    {
        get => (Property as ListFromGroup).Value as String;
        set
        {
            (Property as ListFromGroup).Value = value ?? "" as object;
            CallRefresh();
        }
    }
    private string _listChoiceValue
    {
        get => (Property as ListChoice).Value as String;
        set
        {
            (Property as ListChoice).Value = value as object;
            CallRefresh();
        }
    }
    private Position _hitboxPositionValue
    {
        get => (Property as HitBox).Position;
        set
        {
            (Property as HitBox).Position = value;
            CallRefresh();
        }
    }
    private int _hitBoxColorRed
    {
        get => (Property as HitBox).Color.Red;
        set
        {
            (Property as HitBox).Color.Red = value;
            CallRefresh();
        }
    }
    private int _hitBoxColorGreen
    {
        get => (Property as HitBox).Color.Green;
        set
        {
            (Property as HitBox).Color.Green = value;
            CallRefresh();
        }
    }
    private int _hitBoxColorBlue
    {
        get => (Property as HitBox).Color.Blue;
        set
        {
            (Property as HitBox).Color.Blue = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyHeight
    {
        get => (Property as HitBox).Height;
        set
        {
            (Property as HitBox).Height = value;
            CallRefresh();
        }
    }

    private int _hitBoxPropertyDefault
    {
        get => Convert.ToInt32((Property as HitBox).Default);
        set
        {
            (Property as HitBox).Default = value;
            (Property as HitBox).Value = value;
            CallRefresh();
        }
    }

    private int _hitBoxPropertyWidth
    {
        get => (Property as HitBox).Width;
        set
        {
            (Property as HitBox).Width = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyPositionX
    {
        get => (Property as HitBox).Position.X;
        set
        {
            (Property as HitBox).Position.X = value;
            CallRefresh();
        }
    }
    private int _hitBoxPropertyPositionY
    {
        get => (Property as HitBox).Position.Y;
        set
        {
            (Property as HitBox).Position.Y = value;
            CallRefresh();
        }
    }
    private int _frameIndexValue
    {
        get => (Property as FrameImage).Index;
        set
        {
            (Property as FrameImage).Index = value;
            CallRefresh();
        }
    }
    private int _frameDurationValue
    {
        get => (Property as FrameImage).Duration;
        set
        {
            (Property as FrameImage).Duration = value;
            CallRefresh();
        }
    }
    private int _originInputValueX
    {
        get => ((Property as Origin).Default as Position).X;
        set
        {
            ((Property as Origin).Default as Position).X = value;
            CallRefresh();
        }
    }
    private int _originInputValueY
    {
        get => ((Property as Origin).Default as Position).Y;
        set
        {
            ((Property as Origin).Default as Position).Y = value;
            CallRefresh();
        }
    }
    private bool _checkInputValue
    {
        get => (Boolean)Property.Default;
        set
        {
            Property.Default = value;
            CallRefresh();
        }
    }
    private string _textInputValue
    {
        get => (String)Property.Default;
        set
        {
            Property.Default = value;
            CallRefresh();
        }
    }
    private decimal _realIncrement
    {
        get => (Property as Real).Increment;
        set
        {
            (Property as Real).Increment = value;
            CallRefresh();
        }
    }
    private decimal _realMin
    {
        get => (Property as Real).Min;
        set
        {
            (Property as Real).Min = value;
            CallRefresh();
        }
    }
    private decimal _realMax
    {
        get => (Property as Real).Max;
        set
        {
            (Property as Real).Max = value;
            CallRefresh();
        }
    }
    private decimal _realInputValue
    {
        get => (Decimal)Property.Default;
        set
        {
            Property.Default = value;
            CallRefresh();
        }
    }
    private int _intMin
    {
        get => Convert.ToInt32((Property as Integer).Min);
        set
        {
            (Property as Integer).Min = value;
            CallRefresh();
        }
    }
    private int _intMax
    {
        get => Convert.ToInt32((Property as Integer).Max);
        set
        {
            (Property as Integer).Max = value;
            CallRefresh();
        }
    }
    private int _intIncrement
    {
        get => Convert.ToInt32((Property as Integer).Increment);
        set
        {
            (Property as Integer).Increment = value;
            CallRefresh();
        }
    }
    private int _intInputValue
    {
        get => (Int32)Property.Value;
        set
        {
            Property.Value = value;
            CallRefresh();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Context = Fdc.GetTemplateContext();
        Refresh.RefreshRequested += RefreshMe;
    }
    private void RefreshMe()
    {
        Context = Fdc.GetTemplateContext();
        StateHasChanged();
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }

    public void DeleteProperty()
    {
        Fdc.DeleteTemplateProperty(Property);
        CallRefresh();
    }
    public void TogglePropertyVisibility()
    {
        ToggleOn = !ToggleOn;
    }
}
