﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime

<div class="layout-window">
    <div class="layout-header-dropdownparent">
        <a class="dropdown" style="position:relative;">
        <button type="button" class="btn btn-outline-header-menu dropdown-toggle mr-auto" data-bs-toggle="dropdown" data-bs-target="#addNewLayer">
            <img class="context-icon" src="@("../images/icons/square-plus.svg")" />
            New&nbsp;
        </button>
            <ul class="dropdown-menu fileMenu @(Templates.Count>0?"":"invisible")" id="addNewLayer" data-bs-popper="static" data-theme="dark">
                @foreach (var template in Templates)
                {
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                        @onclick="()=> CreateNewLayer(template)">
                            <img class="context-icon" src="../images/icons/file.svg" />@template.Name
                        </button>
                    </li>
                }            
            </ul>        
        </a>
        <button type="button" class="btn btn-outline-header-menu mr-auto" @onclick="()=> DeleteLayer()">
            <img class="context-icon" src="../images/icons/trash.svg" />
            Delete&nbsp;
        </button>
        <button type="button" class="btn btn-outline-header-menu ml-auto" @onclick:stopPropagation="true" @onclick="()=>PasteLayer()">
            <img class="context-icon" src="@("../images/icons/copy.svg")" />
            Paste
        </button>
        <button type="button" class="btn btn-outline-header-menu" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Not implemented">
            <img class="context-icon" src="../images/icons/filter.svg" />
            Filter&nbsp;
        </button>
        @*TODO add a collapse all button, add a collapse single button*@
        @*TODO add filter by templates     public Dictionary<string,bool> FilterLayersByTemplates; //add a popup/dropdown with check a toggle for each template, then filter the tree?*@
    </div>
    <div class="tree-scroll" @onclick="()=>{Fdc.SetLayerContext(null); CallRefresh();}" >
         <div class="searchbar-tree p-2 bg-dark">
              Search Layer Name: <input type="text" class="form-control" placeholder="Enter name here" id="TemplateName" @bind="FilterName">
          </div>
        @if (FilterName.Length <= 2)
        {
            @foreach (var layer in Project.Layers)
            {
                <TreeTable Layer="layer" LayerContext="LayerContext"/>
            }
        }
        else
        {
            //is filtering
            @foreach (var layer in Project.GetFilteredLayers(FilterName))
            {
                <TreeTable Layer="layer" LayerContext="LayerContext"/>
            }
        }

    </div>
</div>

@code {
    public Project? Project { get; set; }
    public Layer? LayerContext { get; set; }
    public List<Template> Templates { get; set; }

    private string _filterName="";
    public string FilterName
    {
        get => _filterName;
        set
        {
            _filterName = value;
            // if (_filterName.Length >= 3)
            // {
            //     CallRefresh();
            // }
        }
    }
    public void PasteLayer()
    {
        Fdc.PasteLayer();
        CallRefresh();
    }
    public void CreateNewLayer(Template template){
        Fdc.CreateNewLayer(template);
        CallRefresh();        
    }
    public void DeleteLayer(){
        Fdc.DeleteLayerContext();
        CallRefresh();
    }
    protected override async Task OnInitializedAsync()
    {
        Setup();
        Refresh.RefreshRequested += RefreshMe;
    }
    private string _templateName
    {
        get => LayerContext.Name;
        set
        {
            LayerContext.Name = value;
            CallRefresh();
        }
    }
    private void Setup()
    {
        Project = Fdc.GetProject();
        LayerContext = Fdc.GetLayerContext();
        Templates = new List<Template>(Fdc.GetTemplates());
        Templates.RemoveAll(t => t.Attributes.Any(a => a.PropertyType == SD.HitBox));
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        Setup();
        StateHasChanged();
    }
}
