﻿@using System.Drawing;
@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime

<table class="table treetable table-hover table-dark">
    @if (Layer.Children.Count > 0)
    {
        <tbody class="folder @(_folderOpen?"folder-open":"")">
            <tr class="table-active file-parent file @(Layer.Id == LayerContext?.Id ? "active" : "")" @oncontextmenu="(e)=>{_folderOpen=!_folderOpen; MustExpand=false;}" @ondblclick="(e)=>{ToggleAllChild();}" @onmouseover:stopPropagation="true" @onclick:stopPropagation="true" @onclick="()=>SelectLayer(Layer.Id)">
                <td class="folder-symbol" @onclick:stopPropagation="true" @onclick="(e)=>{_folderOpen=!_folderOpen; MustExpand=false;}">
                    @(_folderOpen ? "-" : "+")
                </td>
                <td >
                    @Layer.Name
                    <button type="button" class="btn-tree ml-auto" @onclick:stopPropagation="true" @onclick="()=>CopyLayer()">
                        <img class="context-icon" src="@("../images/icons/copy.svg")" />
                    </button>

                    <button type="button" class="btn-tree ml-auto" @onclick:stopPropagation="true" @onclick="()=>DuplicateLayer()">
                        <img class="context-icon" src="@("../images/icons/paste.svg")" />
                    </button>
                </td>
            </tr>
            @if (_folderOpen)
            {
                @foreach (var layerChild in Layer.Children)
                {
                    @if (layerChild.Children.Count > 0)
                    {
                        <tr class="folder-content nested" @onmouseover:stopPropagation="true">
                            <td class="folder-empty" @onmouseover:stopPropagation="true">
                            </td>
                            <td class="folder-empty" @onmouseover:stopPropagation="true">
                                <TreeTable MustExpand="MustExpand" Layer="layerChild" LayerContext="LayerContext"></TreeTable>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="folder-content table-active file @(layerChild.Id == LayerContext?.Id ? "active" : "")" @onmouseover:stopPropagation="true" @onclick:stopPropagation="true" @onclick="()=>SelectLayer(layerChild.Id)">
                            <td class="folder-symbol">
                            </td>
                            <td>
                                @layerChild.Name
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    }
    else
    {
            <tbody>
                <tr class="table-active file @(Layer.Id == LayerContext?.Id ? "active" : "")" @onclick:stopPropagation="true" @onclick="()=>SelectLayer(Layer.Id)">
                <td class="folder-symbol">
                </td>
                <td>
                    @Layer.Name
                    <button type="button" class="btn-tree ml-auto" @onclick:stopPropagation="true" @onclick="()=>CopyLayer()">
                        <img class="context-icon" src="@("../images/icons/copy.svg")" />
                    </button>
                    <button type="button" class="btn-tree ml-auto" @onclick:stopPropagation="true" @onclick="()=>DuplicateLayer()">
                        <img class="context-icon" src="@("../images/icons/paste.svg")" />
                    </button>
                </td>
            </tr>
        </tbody>
    }

</table>
@code {
    private bool _folderOpen { get; set; } = false;
    [Parameter]
    public bool MustExpand { get; set; } = false;
    [Parameter]
    public Layer Layer { get; set; }

    [Parameter]
    public Layer? LayerContext { get; set; }
    public void ToggleAllChild()
    {
        _folderOpen = !_folderOpen;
        MustExpand = _folderOpen;
    }
    public async void SelectLayer(string id)
    {
        Fdc.SetLayerContext(id);
        LayerContext = Fdc.GetLayerContext();
        // if (LayerContext.Attributes.Any(x => x.PropertyType == SD.FrameImage))
        // {
        //     var frame = LayerContext.FindAttribute<FrameImage>(SD.FrameImage);
        //     if (frame != null && !String.IsNullOrEmpty(frame.ImagePath) )
        //     {
        //         await OnClickFrameLayer(frame.ImagePath);
        //     }
        // }
        CallRefresh();
    }
    //Code to move the image view position, currently we don't want that but leaving it here for reference if we need it for some reason
    // public async Task OnClickFrameLayer(string path)
    // {
    //     int height;
    //     int width;
    //     Transform path into an image so we can read h/w
    //     using (var fileStream = new FileStream(path, FileMode.Open, FileAccess.Read, FileShare.Read))
    //     {
    //         using (var image = Image.FromStream(fileStream, false, false))
    //         {
    //             height = image.Height;
    //             width = image.Width;
    //         }
    //     }
    //     string value = await JsRuntime.InvokeAsync<string>("scrollImage", width / 2, height / 2);
    // }
    protected override async Task OnInitializedAsync()
    {
        LayerContext = Fdc.GetLayerContext();
        Refresh.RefreshRequested += RefreshMe;
    }
    protected override async Task OnParametersSetAsync()
    {
        if (MustExpand)
        {
            _folderOpen = true;
        }
        await base.OnParametersSetAsync();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        MustExpand = false;
    }
    private void CopyLayer()
    {
        Fdc.CopyLayer(Layer);
    }
    private void DuplicateLayer()
    {
        Fdc.DuplicateLayer(Layer);
        CallRefresh();
    }

    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        LayerContext = Fdc.GetLayerContext();
        StateHasChanged();
    }
}
