﻿@using FrameDataCreator.Shared;
@using Microsoft.AspNetCore.Components.Web
@namespace FrameDataCreator.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; font-src 'self' data: blob: file:; img-src 'self' data: blob: filesystem: file: ; style-src 'self' 'unsafe-inline'">
    <title>Frame Data Creator @ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/jqueryInit.js" asp-append-version="true"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(FDCHeader)" render-mode="ServerPrerendered" />
    <div class="empty-resizer"></div>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div class="empty-resizer"></div>
    <component type="typeof(StatusBar)" render-mode="ServerPrerendered" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/global.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
