﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime

<div id="dialog-preferences" class="card d-flex dialog-preferences" title="Preferences">
    <div style="overflow: clip; flex-grow:1;" class="d-flex flex-row">
        <div class="preference-column d-flex flex-column gap-1">
            @foreach (var preference in Preferences)
            {
                <div class="p-1 d-flex flex-column btn btn-outline-header-menu @(_preferenceSelected==preference?"active":"")" style="cursor: default;" @onclick="()=>_preferenceSelected=preference">
                    @preference.Name
                </div>
            }
        </div>

        <div class="preference-details d-flex flex-column ">
            @if (_preferenceSelected != null)
            {
                <div class="w-100 p-1">
                    @_preferenceSelected.Name
                </div>
                <div class="w-100 p-3" style="white-space:normal;">
                    @_preferenceSelected.Description
                </div>
                <div class="w-100 d-flex flex-row p-1">
                    <div class="w-25  p-1 text-end">
                        Value
                    </div>
                    <div class="w-75 p-1">
                        @switch (_preferenceSelected.Type)
                        {
                            case SD.PrefBool:
                                <input type="checkbox" class="form-check-input" placeholder="true" id="@_preferenceSelected.Name" @bind="_prefbool">
                                break;
                            case SD.PrefInt:
                                <input type="number" class="form-control" placeholder="true" id="@_preferenceSelected.Name" @bind="_prefInt">
                                break;
                            case SD.PrefPrefab:
                                <div style="overflow: auto; padding: 8px 4px 4px 4px;" class="d-flex flex-wrap align-content-between flex-grow-1">
                                    <div class="d-flex pb-2 flex-wrap overflow-auto">
                                        @foreach (string prefabName in Prefabs)
                                        {
                                            <div class="d-flex flex-column btn btn-outline-header-menu @(_prefabSelected==prefabName?"active":"")" style="width:96px; white-space:normal; cursor: default;" @onclick="()=>_prefabSelected=prefabName">
                                                <img src="../images/fdc_logo1024.png" style="max-width:100%;">
                                                @prefabName
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="align-self-end mt-auto" style="width: 100%; background-color: var(--bs-secondary-dark); padding: 4px 8px;">
                                    <label for="PrefabName">Edit Name : </label>
                                    <input type="text" class="form-control" id="PrefabName" name="PrefabName" placeholder="PrefabName" @bind="_prefabName">
                                    <button class="btn btn-outline-header-menu" @onclick="DeletePrefab">Delete</button>
                                </div>
                                break;
                            default:
                                <input type="text" class="form-control" placeholder="Enter value" id="@_preferenceSelected.Name" @bind="_preferenceSelected.Value">
                                break;
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@code {
    private Preference _preferenceSelected;
    private DotNetObjectReference<PreferenceDialog>? objRef;
    private string? _prefabSelected { get; set; }
    private string? _prefabName
    {
        get => _prefabSelected;
        set
        {
            Fdc.RenamePrefab(value, _prefabSelected);
            CallRefresh();
        }
    }
    public List<string> Prefabs { get; set; }
    public List<Preference> Preferences { get; set; }

    public void DeletePrefab()
    {
        if (_prefabSelected != null)
        {
            Fdc.DeletePrefab(_prefabSelected);
        }
        _prefabSelected = null;
        CallRefresh();
    }
    [JSInvokable]
    public void JsClosePreferences()
    {
        if (Fdc.SavePreferences())
        {
            CallRefresh();
        }
        else
        {
            //did not save
        }
    }
    public void Dispose()
    {
        objRef?.Dispose();
    }
    protected override async Task OnInitializedAsync()
    {
        Setup();
        objRef = DotNetObjectReference.Create(this);
        Refresh.RefreshRequested += RefreshMe;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Setup();
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("preferenceDotNetHelper", objRef);
        }
        base.OnAfterRender(firstRender);

    }
    private void RefreshMe()
    {
        Setup();
        StateHasChanged();
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void Setup()
    {
        Preferences = Fdc.GetPreferences();
        Prefabs = Fdc.GetPrefabs();
    }
    private bool _prefbool
    {
        get => Convert.ToBoolean(_preferenceSelected.Value);
        set
        {
            _preferenceSelected.Value = value.ToString();
        }
    }
    private int _prefInt
    {
        get => Convert.ToInt32(_preferenceSelected.Value);
        set
        {
            _preferenceSelected.Value = value.ToString();
        }
    }
}
